body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2.2vw;
    padding: 0%;
    margin: 0%;
    background-color: #52a044;
    height: 100vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.impressumtext {
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding: 1% 1% 1% 1%;
    background-color: #fff;
    margin-bottom: 4.43%;
    margin-top: 12.2%;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    font-size: 2vh;
}

.themebox {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
}

.themetextbox {
    display: flex;
    word-wrap: nowrap;
    border-style: solid;
    width: max-content;
    padding: 10px 15px 10px 15px;
    color: #FFF;
}