body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2.2vw;
    padding: 0%;
    margin: 0%;
    background-color: #52a044;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.themebox {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 3%;
}

.themetextbox {
    display: flex;
    word-wrap: nowrap;
    border-style: solid;
    padding: 10px 15px 10px 15px;
    color: #FFF;
}

.productpictures {
    position: relative;
    height: auto;
    width: min-content;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 15vh;
}

.leistungentext {
    text-align: center;
    height: fit-content;
    position: relative;
    width: 40%;
    margin-top: 0%;
    margin-bottom: 7%;
    margin-right: 20%;
}

.infotext {
    position: absolute;
    font-size: 1.3vw;
    width: 150%;
}

.visualisierungpic {
    scale: 100%;
}

.ets6picture {
    scale: 100%;
    margin-bottom: 2%;
}