body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 0%;
    margin: 0%;
}

.grid-container {
    display: grid;
    grid-template-areas: 'videotext' 'slider' 'footer';
    gap: 10px;
}

.videotxtgrid {
    grid-area: videotext;
}

.slidergrid {
    grid-area: slider;
}

.footergrid {
    grid-area: footer;
}

.bgVidHome {
    width: 100vw;
    z-index: -1;
    position: fixed;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.homeFirstText {
    margin-top: 10%;
}

.headline {
    font-size: 5vw;
}

.basicText {
    font-size: 2.2vw;
}

.slider {
    width: 100vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-top: 28%;
    padding: 0%;
}

.slides {
    width: 500vw;
    display: flex;
    background-color: burlywood;
}

.slides input {
    display: none;
}

.slide {
    width: 100vw;
    aspect-ratio: 16 / 9;
    transition: 2s;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

.slide img {
    width: 100vw;
    aspect-ratio: 16 / 9;
}

.navigation-manual {
    position: fixed;
    width: 100vw;
    aspect-ratio: 16 / 9;
    margin-top: 5%;
}

.manual-button {
    border: 2px solid #00f3ff;
    color: -50%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 25px;
    padding-left: 20px;
}

.manual-button:not(:last-child) {
    margin-right: 40px;
}

.manual-button:hover {
    background: #00f3ff;
    color: -50%;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-button1 {
    background: #00f3ff;
}

#radio2:checked~.navigation-auto .auto-button2 {
    background: #00f3ff;
}

#radio3:checked~.navigation-auto .auto-button3 {
    background: #00f3ff;
}

#radio4:checked~.navigation-auto .auto-button4 {
    background: #00f3ff;
}

#radio5:checked~.navigation-auto .auto-button5 {
    background: #00f3ff;
}

#radio6:checked~.navigation-auto .auto-button6 {
    background: #00f3ff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}