body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2.2vw;
    padding: 0%;
    margin: 0%;
    background-color: #52a044;
    height: 100vh;
    overflow: hidden;
}

.themebox {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 3%;
}

.themetextbox {
    display: flex;
    word-wrap: nowrap;
    border-style: solid;
    width: max-content;
    padding: 10px 15px 10px 15px;
    color: #FFF;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.kontaktformular {
    margin-top: 19%;
    margin-bottom: 19%;
}