body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 0%;
    margin: 0%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.bgVidHome {
    width: 100vw;
    z-index: -10;
    position: fixed;
    aspect-ratio: 16 / 9;
}

.flex-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.homeFirstText {
    margin-top: 10%;
}

.headline {
    font-size: 5vw;
}

.basicText {
    font-size: 2.2vw;
}

.slider {
    width: 100vw;
    aspect-ratio: 16 / 8.5;
    overflow: hidden;
    margin-top: 31%;
}

.slides {
    width: 500vw;
    display: flex;
    aspect-ratio: 16 / 8.5;
    background-color: #52a044;
}

.slides input {
    display: none;
}

.slide {
    width: 100vw;
    aspect-ratio: 16 / 8.5;
    transition: 2s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slide img {
    width: 100vw;
    aspect-ratio: 16 / 9;
}

.navigation-auto {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100vw;
    margin-top: 50%;
}

.auto-button {
    border: 2px solid #00f3ff;
    color: -50%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 25px;
    padding-left: 20px;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.switch {
    position: relative;
    width: 25rem;
    padding: 0 20%;
    &:before {
        content: '  ';
        position: relative;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 3rem;
    }
    &__label {
        width: 2rem;
        padding: 5%;
        text-align: center;
        cursor: pointer;
        transition: color 200ms ease-out;
        &:hover {
            color: #FFF;
        }
    }
}

input[type="radio"] {
    &:not(:checked),
    &:checked {
        display: none;
    }
}

$primary: #39992d;
$text-color: #363738;
body {
    background: #eee;
}

.date__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    border: 4px solid;
    font-weight: bold;
    padding: 5px 10px;
    .date__day {
        font-size: 22px;
    }
}

.project-card {
    padding: 30px;
    position: relative;
    aspect-ratio: 16 / 7;
    width: 90%;
    margin-left: 3%;
    margin-top: 4%;
    .date__box {
        opacity: 0;
        transform: scale(0.5);
        transition: 300ms ease-in-out;
    }
    .project-card__background,
    .card__background--layer {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .project-card__background {
        padding: 15px;
        background: white;
    }
    .card__background--wrapper {
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
        position: relative;
        overflow: hidden;
    }
    .card__background--main {
        height: 100%;
        position: relative;
        transition: 300ms ease-in-out;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card__background--layer {
        z-index: 0;
        opacity: 0;
        background: rgba(#333, 0.9);
        transition: 300ms ease-in-out;
    }
    .project-card__head {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-card__info {
        position: relative;
        bottom: -35%;
        z-index: 10;
        background: white;
        padding: 20px 15px;
        h5 {
            transition: 300ms ease-in-out;
        }
    }
    &:hover {
        .date__box {
            // opacity: 1;
            transform: scale(1);
        }
        .card__background--main {
            transform: scale(1.2);
        }
        .card__background--layer {
            opacity: 1;
        }
        .project-card__info {
            h5 {
                color: $primary;
            }
        }
    }
}

a.icon-link {
    color: $text-color;
    transition: 200ms ease-in-out;
    i {
        color: $primary;
    }
    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

.themebox {
    width: 100vw;
    display: flex;
    background-color: #FFF;
    justify-content: center;
    margin-top: 51.2%;
    position: absolute;
}

.themetextbox {
    display: flex;
    word-wrap: nowrap;
    border-style: solid;
    width: max-content;
    padding: 10px 15px 10px 15px;
}