.header {
    height: 5em;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 1em;
    background: #282828;
    box-shadow: -4px -4px 10px rgba(80, 80, 80, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(67, 67, 67, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: box-shadow 0.8s cubic-bezier(.79, .21, .06, .81);
}