.header {
  top: 0;
  width: 100vw;
  height: 100px;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: fixed;
  z-index: 1000;
}

.header ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 22px;
  text-align: right;
  right: 4%;
}

.header ul li {
  list-style: none;
}

.header ul a {
  margin: 0 20px;
  color: black;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.header.headerdown {
  height: 60px;
  background-color: #39992d;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header.headerdown ul {
  top: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header.headerdown ul li a {
  color: white;
}

.header.headerup {
  height: 100px;
  background-color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header.headerup ul {
  top: 22px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header.headerup ul li a {
  color: black;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 2.2vw;
  padding: 0%;
  margin: 0%;
  background-color: #52a044;
  height: 100vh;
  overflow: hidden;
}

.impressumtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1% 1% 1% 1%;
  background-color: #fff;
  margin-bottom: 4.43%;
  margin-left: 4%;
  margin-top: 10%;
  border-radius: 16px;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  font-size: 3vh;
}

.themebox {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10%;
}

.themetextbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: nowrap;
  border-style: solid;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px 10px 15px;
  color: #FFF;
}
/*# sourceMappingURL=Impressum.css.map */